<html lang="ru">
    <head>
      <meta charset="UTF-8">
      <title>Карта региона</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
    
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Карта региона</a>
      </nav>
<body>
    <table border="1">
        {% for row in maps_stat_data %}
        <tr>
            <td><img src="data:image/jpeg;base64,{{ row['map_stat'] }}" alt="Image"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
